@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Noto+Sans+JP:wght@100&display=swap");

@font-face {
  font-family: gothamLight;
  src: url(fonts/gothampro_light.ttf);
}
@font-face {
  font-family: gothamBlack;
  src: url(fonts/gothampro_medium.ttf);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(
    100% 121.87% at 100% 100%,
    #d0b9d9 0%,
    #d3dbf2 63.85%,
    #e8e0f1 100%
  );
}
#mainWindow {
  height: 635px;
  width: 707px;
  box-sizing: border-box;

  position: absolute;

  border: 1px solid #ffffff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}
#header {
  box-sizing: border-box;

  position: absolute;
  width: 100%;
  height: 78px;

  border-radius: 50px 50px 0 0;
  background: linear-gradient(270deg, #d4d7f2 -0.05%, #e8e0f1 99.95%);
  border-bottom: 1px solid #ffffff;
}
#bot-icon {
  width: 5%;
  margin-top: 23px;
  margin-left: 43px;
  float: left;
}
#bot {
  margin-top: 20px;
  margin-left: 32px;
  float: left;
}
#bot-name {
  font-family: "gothamLight";
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}
#activity {
  font-family: "gothamBlack";
  font-weight: 400;
  font-size: 8px;
  line-height: 8px;
}
#language {
  font-family: "gothamLight";

  float: right;
  margin-top: 28px;
  margin-right: 52px;

  /* font-family: "Roboto"; */
  /* font-style: normal; */
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}
#messagesWrapper {
  margin-top: 78px;
  height: 483px;
  width: 621px;
  display: table;
}

.message {
  width: 621px;
  background: #edecf0;
  border-radius: 50px;
  margin-bottom: 29px;
  margin-left: 43px;
  text-align: left;
  padding: 15px 25px;
  line-height: 21px;
  font-weight: 400;
  font-family: "gothamLight";
  font-size: 12px;
  overflow-wrap: break-word;
}

.emptyPlace {
  height: 100%;
  display: table-row;
}

#inputWrapper {
  position: absolute;
  top: 561px;
  height: 57px;
  left: 0;
  height: 72px;
  width: 100%;
  padding: auto;
  background: radial-gradient(
    100% 8116.22% at 0% 49.55%,
    0%,
    #cad3f1 76.49%,
    #e7e0f1 98.75%
  );
  border-radius: 0 0 50px 50px;
  border-top: 1px solid #ffffff;
}
#inputQuestion {
  width: 600px;
  height: 52px;
  padding-left: 32px;
  /* padding-top: 10px; */
  margin: 10px;
  /* box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06); */
  background-color: unset;

  position: absolute;
  float: left;

  border: none;
  resize: none;
  overflow: hidden;
  outline: none;

  white-space: pre-line;
}
textarea:focus {
  border: none;
  outline: none;
  background: #ede8f37a;
}
textarea,
textarea::placeholder {
  color: black;
  font-weight: 400;
  line-height: 21px;
  font-family: "gothamLight";
  font-size: 12px;
}

#arrowImg {
  height: 20px;
  width: 20px;
  float: right;
  margin-top: 28px;
  margin-right: 52px;
}
#yourMessage {
  font-family: "gothamLight";
  font-weight: 800;
  font-size: 8px;
  line-height: 16px;
}
